<div fxLayout="column" fxLayoutAlign="start center">
  <div fxLayout="row wrap" fxLayoutAlign="center start" class="placeholder-actions">
    <button (click)="openCartDialog()" mat-raised-button>Cart</button>
    <button (click)="openStorageDialog()" mat-raised-button>Storage</button>
    <button [routerLink]="'/' + AppRoute.RECIPE" mat-raised-button>Recipes</button>
  </div>

  <div fxLayout="row wrap" fxLayoutAlign="center start" class="placeholder-actions">
    <button [routerLink]="'/' + AppRoute.PRODUCT" mat-raised-button>Products</button>
  </div>
</div>
