<div *ngIf="storageData" class="root-column" fxLayout="column" fxLayoutAlign="start center">

  <mat-expansion-panel (closed)="infoPanelOpened = false" (opened)="infoPanelOpened = true">

    <mat-expansion-panel-header>
      <mat-panel-title>Storage Information</mat-panel-title>
      <mat-panel-description>{{storageData.name ? 'of ' + storageData.name : 'No name found!'}}</mat-panel-description>
    </mat-expansion-panel-header>

    <div class="expansion-panel-body" fxLayout="column" fxLayoutAlign="start center">

      <!-- Display ID -->
      <mat-form-field appearance="outline">
        <mat-label>{{storageData.id ? 'ID' : 'Generated ID'}}</mat-label>
        <input [(ngModel)]="storageData.id" disabled matInput>
      </mat-form-field>

      <!-- Display Name -->
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="storageData.name" disabled matInput>
      </mat-form-field>

      <!-- Display Owner (Users) -->
      <mat-form-field *ngFor="let username of storageData?.users; let i = index" appearance="outline">
        <mat-label>Owner {{i + 1}}</mat-label>
        <input [value]="username" disabled matInput>
        <button (click)="submitRemoveUser(username)" mat-icon-button matSuffix>
          <mat-icon>delete_outline</mat-icon>
        </button>
      </mat-form-field>

      <!-- New Owner (User) Input -->
      <mat-form-field (click)="loadUserOptions()" appearance="outline">
        <mat-label>Add new Owner</mat-label>
        <input [(ngModel)]="userAC.input"
               [formControl]="userAC.inputControl"
               [matAutocomplete]="autocompleteUser"
               matInput
               placeholder="Pick User"
               type="text">
        <button (click)="submitAddUser(userAC.input)" mat-icon-button matSuffix>
          <mat-icon>add_circle_outline</mat-icon>
        </button>
        <mat-autocomplete #autocompleteUser="matAutocomplete">
          <mat-option (click)="submitAddUser(option)" *ngFor="let option of userAC.filteredOptions | async"
                      [value]="option">
            {{option}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>

      <!-- General Actions -->
      <div class="expansion-panel-actions" fxLayout="row" fxLayoutAlign="start center">
        <button (click)="submitDeleteStorage()" mat-raised-button>Delete Storage</button>
      </div>
    </div>
  </mat-expansion-panel>

  <div class="product-selection">
    <mat-form-field (click)="loadProductOptions()" appearance="outline">
      <mat-label>Add Product</mat-label>
      <input [(ngModel)]="productAC.input"
             [formControl]="productAC.inputControl"
             [matAutocomplete]="autocompleteProduct"
             matInput
             placeholder="Pick Product"
             type="text">
      <mat-autocomplete #autocompleteProduct="matAutocomplete">
        <mat-option (click)="submitAddItem(option.id)" *ngFor="let option of productAC.filteredOptions | async"
                    [value]="option.name">
          {{ProductSummaryModel.shortString(option)}}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>

  <mat-list>
    <div *ngFor="let category of categorizedItems | keyvalue; let i = index">

      <mat-divider *ngIf="i !== 0"></mat-divider>
      <div mat-subheader>{{category.key}}</div>

      <mat-list-item *ngFor="let item of category.value">
        <mat-icon mat-list-icon>fastfood</mat-icon>

        <div fxLayout="row" fxLayoutAlign="start center" mat-line>
          <span>{{item.productName}}</span>
          <button (click)="navigateToProduct(item.productId)" class="product-link" mat-icon-button>
            <mat-icon>open_in_new</mat-icon>
          </button>

          <span class="spacer"></span>

          <button mat-icon-button>
            <mat-icon>remove_circle_outline</mat-icon>
          </button>

          <span *ngIf="item.packageSize && item.unit" class="counter">{{item.count}}
            x {{item.packageSize}} {{item.unit}}</span>
          <span *ngIf="!(item.packageSize && item.unit)" class="counter">{{item.count}}</span>

          <button mat-icon-button>
            <mat-icon>add_circle_outline</mat-icon>
          </button>

          <button (click)="submitRemoveItem(item.productId)" class="remove-icon" mat-icon-button>
            <mat-icon>delete_outline</mat-icon>
          </button>
        </div>
      </mat-list-item>
    </div>
  </mat-list>
</div>

<div class="footer-actions">
  <button (click)="navigateBack()" mat-raised-button>Back</button>
</div>
