.selection-column {
  margin: 25px;

  .column-element {
    margin: 5px;
    min-width: 400px;

    mat-form-field {
      padding: 0;
      height: 60px;
      width: 320px;
    }

    #submit-button {
      height: 50px;
      width: 70px;
      margin: 4px 5px 6px;
    }
  }
}
