<div fxLayout="column" fxLayoutAlign="start center" id="recipe-editing-root">

  <div fxLayout="column" fxLayoutAlign="center start" id="recipe-edit-headline">
    <div fxLayout="row" fxLayoutAlign="start center" id="recipe-edit-title-div">

      <mat-form-field appearance="outline" id="recipe-edit-name">
        <mat-label>Name</mat-label>
        <input [(ngModel)]="recipeData.name" matInput>
      </mat-form-field>

      <span *ngIf="!isMobileView" class="spacer"></span>

      <div *ngIf="!isMobileView" class="recipe-edit-duration" fxLayout="row" fxLayoutAlign="start center">
        <mat-icon>access_time</mat-icon>
        <mat-form-field appearance="outline">
          <mat-label>Duration</mat-label>
          <input [(ngModel)]="recipeData.duration" matInput>
        </mat-form-field>
        <span>Minutes</span>
      </div>
    </div>

    <mat-form-field appearance="outline" id="recipe-edit-category">
      <mat-label>Category</mat-label>
      <input [(ngModel)]="recipeData.category" matInput>
    </mat-form-field>

    <div *ngIf="isMobileView" class="recipe-edit-duration" fxLayout="row" fxLayoutAlign="start center">
      <mat-form-field appearance="outline">
        <mat-label>Duration in Minutes</mat-label>
        <input [(ngModel)]="recipeData.duration" matInput>
      </mat-form-field>
    </div>
  </div>

  <mat-form-field appearance="outline" id="recipe-edit-description">
    <mat-label>Description</mat-label>
    <textarea [(ngModel)]="recipeData.description" matInput></textarea>
  </mat-form-field>

  <div id="edit-recipe-items">
    <h2>Recipe Items</h2>

    <mat-expansion-panel id="new-item-panel">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <mat-icon>add</mat-icon>
          Add new Item
        </mat-panel-title>

        <mat-panel-description></mat-panel-description>
      </mat-expansion-panel-header>

      <div fxLayout="column" fxLayoutAlign="start center">
        <div class="edit-item-panel-row" fxLayout="row" fxLayoutAlign="center start">
          <mat-form-field appearance="outline" class="edit-item-product">
            <mat-label>Search for Product</mat-label>
            <input [(ngModel)]="recipeItemData.productName" matInput>
          </mat-form-field>
          <mat-form-field appearance="outline" class="edit-item-count">
            <mat-label>Item Count</mat-label>
            <input [(ngModel)]="recipeItemData.count" matInput type="number">
          </mat-form-field>
        </div>

        <mat-form-field appearance="outline" class="edit-item-panel-row">
          <mat-label>Item Description</mat-label>
          <textarea [(ngModel)]="recipeItemData.description" matInput></textarea>
        </mat-form-field>

        <mat-divider inset></mat-divider>

        <div class="expansion-panel-actions" fxLayout="row wrap" fxLayoutAlign="center start">
          <button (click)="clickAddItemToRecipe()" color="primary" mat-raised-button>
            Add Item to Recipe
          </button>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of recipeData.items; let i = index">

        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>fastfood</mat-icon>
            {{item.productName}}
          </mat-panel-title>

          <mat-panel-description>{{item.count}} {{item.unit}}</mat-panel-description>
        </mat-expansion-panel-header>

        <div fxLayout="column" fxLayoutAlign="start center">
          <div class="edit-item-panel-row" fxLayout="row" fxLayoutAlign="center start">
            <mat-form-field appearance="outline" class="edit-item-product">
              <mat-label>Product Name</mat-label>
              <input [(ngModel)]="item.productName" disabled matInput>
            </mat-form-field>
            <mat-form-field appearance="outline" class="edit-item-count">
              <mat-label>Item Count</mat-label>
              <input [(ngModel)]="item.count" matInput type="number">
            </mat-form-field>
          </div>

          <mat-form-field appearance="outline" class="edit-item-panel-row">
            <mat-label>Item Description</mat-label>
            <textarea [(ngModel)]="item.description" matInput></textarea>
          </mat-form-field>

          <mat-divider inset></mat-divider>

          <div class="expansion-panel-actions" fxLayout="row wrap" fxLayoutAlign="center start">
            <button (click)="clickDisplayProduct(item.productId)" *ngIf="item.productId" mat-button>
              Product Information
            </button>
            <button (click)="removeItemFromRecipe(item)" color="warn" mat-raised-button>
              Delete Item from Recipe
            </button>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <!-- footer with actions, elements start at the top and centers elements horizontally -->
  <div class="btn-full-width" fxLayout="row" fxLayoutAlign="center start">
    <button (click)="clickCancel()" class="btn-cancel" mat-raised-button>
      Cancel
    </button>

    <button (click)="clickSubmitCreate()" *ngIf="!isEditing" class="btn-submit" color="primary" mat-raised-button>
      Submit Recipe
    </button>
    <button (click)="clickSubmitUpdate()" *ngIf="isEditing" class="btn-submit" color="primary" mat-raised-button>
      Submit Changes
    </button>
  </div>

  <button (click)="clickSubmitDelete()" *ngIf="isEditing" class="btn-full-width" color="warn" mat-raised-button>
    Delete Recipe
  </button>
</div>
