#recipe-editing-root {
  padding: 16px;
}

@media (max-width: 440px) {
  :host {
    width: 100%;
  }
  #recipe-edit-name, #recipe-edit-category, .recipe-edit-duration {
    width: 100%;

    mat-form-field {
      width: 100%;
    }
  }
}

@media (min-width: 440px) {
  #recipe-edit-headline {
    min-width: 300px;
  }

  #recipe-edit-name, #recipe-edit-category, {
    width: 250px;
  }

  .recipe-edit-duration {
    mat-form-field {
      width: 64px;
      margin-right: 10px;
      padding: 0;
    }

    ::ng-deep.mat-form-field-infix {
      padding: 8px 0 8px 0 !important;
    }
  }
}


#recipe-edit-headline {
  width: 100%;
  margin-bottom: 30px;

  #recipe-edit-title-div {
    width: 100%;
  }

  #recipe-edit-name {
    input {
      font: 500 20px/32px Roboto, "Helvetica Neue", sans-serif;
    }

    ::ng-deep.mat-form-field-infix {
      padding: 4px 0 8px 0 !important;
    }
  }

  #recipe-edit-category {
    input {
      font: 400 16px/28px Roboto, "Helvetica Neue", sans-serif;
    }

    ::ng-deep.mat-form-field-infix {
      padding: 8px 0 8px 0 !important;
    }
  }

  .recipe-edit-duration {
    mat-icon {
      margin-left: 24px;
      margin-right: 8px;
    }

    input {
      text-align: center;
    }
  }
}

#recipe-edit-description {
  width: 100%;
  margin: 30px;

  textarea {
    min-height: 120px;
  }
}

#edit-recipe-items {
  width: 100%;
  margin: 30px;

  #new-item-panel {
    margin-bottom: 30px;
  }

  .edit-item-panel-row {
    width: 100%;

    .edit-item-product {
      width: 100%;
      margin-right: 10px;
    }

    .edit-item-count {
      width: 110px;

      input {
        text-align: center;
      }
    }
  }
}

mat-expansion-panel {
  min-width: 300px;

  mat-panel-title {
    mat-icon {
      margin-right: 25px;
    }

    width: 50%;
  }

  mat-divider {
    height: 10px;
  }
}

.btn-full-width {
  margin-top: 16px;
  width: 100%;

  .btn-cancel {
    width: calc(50% - 8px);
    margin-right: 8px;
  }

  .btn-submit {
    width: calc(50% - 8px);
    margin-left: 8px;
  }
}
