<p>src/app/components/recipe/recipe</p>

<div class="selection-column" fxLayout="column" fxLayoutAlign="start center">
  <button (click)="navigateToRecipeDetail(recipe.id)" *ngFor="let recipe of recipeSummaryData" mat-raised-button>
    {{recipe.name}} - {{recipe.category}} - {{recipe.duration}} min
  </button>
  <button (click)="navigateToRecipeDetail()" mat-raised-button>
    ++ Create new Recipe ++
  </button>
</div>

<div class="placeholder-actions" fxLayout="column" fxLayoutAlign="start center">
  <button (click)="navigateBack()" mat-raised-button>Back</button>
</div>
