<p>app/components/authentication/profile</p>

<div *ngIf="userInfoData" class="info-column" fxLayout="column" fxLayoutAlign="start center">
  <mat-form-field appearance="outline">
    <mat-label>Username</mat-label>
    <input [(ngModel)]="userInfoData.username" [disabled]="editingDisabled" matInput>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input [(ngModel)]="userInfoData.email" [disabled]="editingDisabled" matInput>
  </mat-form-field>

  <table *ngIf="userInfoData.roles">
    <th>Roles:</th>
    <tr *ngFor="let role of userInfoData.roles">{{role}}</tr>
  </table>
</div>

<div class="placeholder-actions" fxLayout="row" fxLayoutAlign="center start">
  <button (click)="navigateBack()" mat-raised-button>Back</button>
  <button color="warn" (click)="deleteProfile()" mat-raised-button>Delete Account</button>
  <button (click)="logout()" mat-raised-button>Logout</button>
</div>
