#app-toolbar {
  top: 0;
  height: 64px;
  z-index: 1000;

  span{
    cursor: pointer;
  }
  mat-select{
    width: 15px;
  }
  //TODO fix positioning of dropdown.
  //.nav-panel{
  //  background-color: red;
  //}
}

#app-container {
  bottom: 0;
  height: calc(100vh - 64px);
  width: 100%;
  overflow-y: auto;
  background-image: url(../assets/background.jpg);
  background-size: cover;

  #router-container {
    margin: 0;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.7);
    width: 80%;
    height: 300vh; // TODO keep this value in mind when the overflow gets too big, the black can run out
  }

  @media (max-width: 400px) {
    #router-container {
      height: 100vh;
      width: 100vw;
      overflow-y: auto;
      border-radius: 0;
    }
  }
}
