#recipe-headline {
  width: 100%;
  min-width: 300px;
  margin-bottom: 30px;

  .div-title {
    width: 100%;

    h2 {
      margin: 0;
    }

    mat-icon {
      margin-left: 24px;
      margin-right: 8px;
    }
  }

  h3 {
    margin: 0;
  }
}

#recipe-items {
  width: 100%;
  margin: 30px;
}

#recipe-ingredients {
  width: 100%;
  margin: 30px;

  #recipe-ingredient-details {
    td {
      padding: 0 25px 0;
    }
  }
}

mat-expansion-panel {
  min-width: 300px;

  mat-panel-title {
    mat-icon {
      margin-right: 25px;
    }

    width: 50%;
  }

  mat-divider {
    height: 10px;
  }
}
