<div fxLayout="column" fxLayoutAlign="start center" id="recipe-display-root">

  <div fxLayout="column" fxLayoutAlign="center start" id="recipe-headline">
    <div fxLayout="row" fxLayoutAlign="start center" id="recipe-title">
      <h2>{{recipeData.name}}</h2>

      <span class="spacer"></span>

      <mat-icon id="duration-icon">access_time</mat-icon>
      <div>{{recipeData.duration}} Minutes</div>
    </div>

    <h3>{{recipeData.category}}</h3>
  </div>

  <p *ngIf="recipeData.description" class="description">
    {{recipeData.description}}
  </p>

  <div id="recipe-items">
    <h2>Recipe Items</h2>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of recipeData.items; let i = index">

        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>fastfood</mat-icon>
            {{item.productName}}
          </mat-panel-title>

          <mat-panel-description>{{item.count}} {{item.unit}}</mat-panel-description>
        </mat-expansion-panel-header>

        <div class="expansion-panel-body" fxLayout="column" fxLayoutAlign="start center">
          <p *ngIf="item.description">{{item.description}}</p>
          <mat-divider inset></mat-divider>
          <div class="expansion-panel-actions" fxLayout="row wrap" fxLayoutAlign="center start">
            <button (click)="clickDisplayProduct(item.productId)" *ngIf="item.productId" mat-raised-button>
              Product Information
            </button>
          </div>
        </div>

      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <mat-expansion-panel id="recipe-ingredients">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon>donut_small</mat-icon>
        Ingredients
      </mat-panel-title>

      <mat-panel-description>{{recipeData.kcal}} kCal</mat-panel-description>
    </mat-expansion-panel-header>

    <div fxLayout="column" fxLayoutAlign="start center">
      <table id="recipe-ingredient-details">
        <tr>
          <th>
            <mat-icon mat-list-icon>donut_small</mat-icon>
          </th>
          <td>Carbohydrates</td>
          <td>{{recipeData.carbohydrates}}g</td>
        </tr>
        <tr>
          <th>
            <mat-icon mat-list-icon>donut_small</mat-icon>
          </th>
          <td>Protein</td>
          <td>{{recipeData.protein}}g</td>
        </tr>
        <tr>
          <th>
            <mat-icon mat-list-icon>donut_small</mat-icon>
          </th>
          <td>Fat</td>
          <td>{{recipeData.fat}}g</td>
        </tr>
      </table>
    </div>
  </mat-expansion-panel>

  <button (click)="clickEditRecipe()" class="btn-full-width" color="primary" mat-raised-button>
    Edit
  </button>
</div>
