<div class="selection-column" fxLayout="column" fxLayoutAlign="start center">
  <button (click)="navigateToRecipeDetail(recipe.id)" *ngFor="let recipe of recipeData" mat-raised-button>
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxLayout="column" fxLayoutAlign="center start" id="recipe-identifier">
        <div>{{recipe.name}}</div>
        <div id="recipe-category">{{recipe.category}}</div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" id="recipe-duration">
        <mat-icon>access_time</mat-icon>
        <div>{{recipe.duration}} min</div>
      </div>
    </div>
  </button>
</div>

<div class="div-actions" fxLayout="row wrap" fxLayoutAlign="center start">
  <button (click)="navigateBack()" mat-raised-button>
    Back
  </button>
  <button (click)="navigateToRecipeDetail()" color="primary" mat-raised-button>
    Create new Recipe
  </button>
</div>
